.container-fluid{
    background-color:rgb(218, 71, 71);
    
  }
  .paragraph{
   display: inline-flex;
  }
  .search{
      display: inline-block;
      border-color: solid rgb(206, 142, 142);
  }
  .nav-header{
   background-color:rgb(180, 80, 80);
  
  }
  
  .nav-header img{
   position:relative;
   height: 70px;
   width: 100px;
   padding:-10%;
   border-radius: 50%;
   margin: 10px 20px;
   background-color:none;
  }
  .nav-header p{
      color: white;
      font-family: sans-serif;
      display: inline-block;
      font-size: 40px;
      column-count:2;
  }
  .nav-header a{
  display: inline-block;
      width:7%;
      position:relative;
      top:-10px;
      left: 100px;
      padding:5px;
      text-decoration: none;
    text-transform: uppercase;
  }
   a:hover {
   cursor: pointer;
    background-color: #555;
  }
  
  a:active {
    background-color: black;
  }
  
  a:visited {
    background-color: #ccc;
       
  }
  
  .main img{ 
  position:relative;
  min-width:100%; 
  min-height:100%;
  }
  
  #display { 
          position:absolute; 
          visibility:show; 
          left: 50%; 
           bottom: 10%;  
           font-size: 50px;
           font-family: sans-serif; 
          }
  #text{
      color:black;
      font-size:50px;
      font-family: sans-serif;
      font-weight:bold;
      left:65%;
      top:2%;
  }
   
  
  #footer{
   background-color:blue;
  }